.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  background-color: #333;
  color: #777;
}

h1 {
  font-size: 5.5em;
}

.h1 {
  background-color: green;
}

.claseGeneral {
  background-color: aquamarine;
  height: 400px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
